<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Ödev</title>
</head>
<body>
    <h1>Onur Ege</h1>
    <h2>Hakkımda</h2>
    <p>Merhaba! Ben Onur Ege! Türkiyede yaşıyorum.Bilgisayar ile uğraşmayı çok seviyorum.</p>
    <h2>Sevdiğim dizilier:</h2>
    <ol>
        <ul>Arka Sokaklar</ul>
        <ul>La Casè De Papel</ul>
    </ol>
</body>
</html>